<%- include('../partials/header') %>

<div class="form">
    <h1>Update your Favorite Quote</h1>
    <form action="/thoughts/edit/<%=id%>?_method=PUT" method="post">
    <label for="thought">Thought:</label>
    <input type="text" name="thought"><br><br>
    <button type="submit">Update</button>
    </form>
</div>