<%- include('../partials/header') %>

<div class="form">
  <h1>Record your Favorite Book</h1>
  <form action="/books" method="post">
    <label for="booktitle">Book Title:</label>
    <input type="text" name="bookTitle" /><br /><br />
    <label for="quote">Quote:</label>
    <input type="text" name="quote" /><br /><br />
    <input type="submit" value="Submit" />
  </form>
</div>
