<%- include('../partials/header') %>

<div class="form">
  <h1>Record your Favorite Book</h1>
  <form action="/books" method="post">
    <label for="booktitle">Book Title:</label>
    <input type="text" name="bookTitle" /><br /><br />
    <label for="quote">Quote:</label>
    <textarea type="text" name="quote" rows="4" cols="50"></textarea
    ><br /><br />
    <label for="rating">Rating:</label>
    <input type="number" name="rating" min="1" max="5" required /><br /><br />

    <label for="genre">Genre:</label>
    <select name="genre" multiple>
      <option value="Action & Adventure" selected>Action & Adventure</option>
      <option value="Detective & Mystery">Detective & Mystery</option>
      <option value="Sci-Fi">Sci-Fi</option>
      <option value="Romance">Romance</option>
      <option value="Biographies">Biographies</option>
      <option value="Self-Help">Self-Help</option>
    </select>

    <br /><br />
    <input type="submit" value="Submit" />
  </form>
</div>
