<%- include('../partials/header') %>

<div class="form">
<h1>Express your Thoughts, However you Want!</h1>
<form action="/books/thoughts/<%=id%>" method="post">
    <label for="thought">Thought:</label>
    <input type="text" name="thought" id="thoughtbox"><br><br>
    <button type="submit">Submit Thought</button>
</form>
</form>
</div>