<%- include('../partials/header') %>
<table id="list">
    <thead>
      <tr>
        <th>Book Title</th>
        <th>Quote</th>
        <th>Thought</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= book.bookTitle %></td>
          <td><%= book.quote %></td>
          <td><%= book.thought %></td>
          
          </tr>
      </tbody>
    </table>