<footer>
  <span><img src="/images/logo.png" alt="logo" /></span>
  <span class="logo">by didadeeee</span>
  <div class="socialicons">
    <a href="https://www.facebook.com/didadeeee/" class="fa fa-facebook"></a><a href="https://www.instagram.com/didadeeee/" class="fa fa-instagram"></a>
  </div>
</footer>
