<%- include('partials/header')%>

<section id="welcome">
  <% name = 'Stranger'; %>
  <% if (name) { %>
  <h1>Welcome <%=name%>, how are you feeling today?</h1>
  <%} else { %>
  <h1>Welcome, how are you feeling today?</h1>    
  <% } %>
<p>"You must do the thing you think you cannot do, Eleanor Roosevelt"</p>

<article>
<img src="images/book.png" alt="Book Graphic">
<h2>Loving your read?</h2><br>
Record your thoughts;<br><br>
Bookmark your favorite quote.<br><br>
Celebrate your progress every single day. <br><br>
<img src="images/rainbow.png" alt="Rainbow" height="100px">
<h2>Feeling grateful or ovelwhelmed?</h2><br>
It's proven that writing down your thoughts helps to understand them more clearly.<br><br>
Don't worry. Your thoughts are perfectly safe with us.<br>
</article>
<button><a class="welcomebutton" href="/books/new">Record your Book</a></button>
<button><a class="welcomebutton" href="/newthought">Write your Thoughts Here</a></button>
</section>
  </body>
</html>

