body {
  font-family: "Times New Roman", Times, serif;
}

.topnav a:hover {
  background-color: #ffb3b3;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: center;
}

li {
  display: inline-block;
}

a:not(.signin, .welcomebutton, .newbook) {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:not(.welcomebutton, .fa, .signin, .newbook) {
  font-family: "Gaegu", cursive;
}

.newbook {
  text-align: center;
}

article {
  margin-bottom: 20px;
}

.welcomebutton {
  color: black;
  text-decoration: none;
  font-size: 15px;
}

#welcome {
  text-align: center;
}

.form {
  text-align: center;
}

table {
  font-size: 20px;
  margin: auto;
  padding-top: 50px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#list {
  width: 600px;
}

#list th {
  font-size: 16px;
}

#list td {
  font-size: 14px;
}

#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #b8c0c2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

.newbook {
  text-decoration: none;
}

#list a:hover {
  background-color: white;
}

img {
  width: 100px;
  height: 100px;
}

.container {
  text-align: center;
  padding: 10px;
}

textarea {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}

.fa {
  padding: 20px;
  font-size: 35px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background: #d62976;
  color: white;
}

.socialicons {
  float: right;
}

.logo {
  font-size: x-small;
  font-weight: 300;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 10px;
  width: 100%;
}

.dailyquote {
  font-weight: bold;
  font-size: 14px;
  width: 50%;
  margin: auto;
}
