<%- include('../partials/header') %>

<div class="container">
    <h2>Create An Account to Record your Favorite Books</h2>
    <form action="signup" method="post">
    <label for="name"><b>Name</b></label>
    <input type="text" name="name" required><br><br>
    <label for="email"><b>Email</b></label>
    <input type="email" name="email" required><br><br>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <button type="submit">Create Account</button>
    </form>
    <br>
    Already has an account?
    <a class="signin" href="/users/login">Sign In Here</a>
</div>