<%- include('../partials/header') %>

<div class="container">
    <form method="" action="">
    <label for="name"><b>Name</b></label>
    <input type="text" name="name" required>

    <label for="email"><b>Email</b></label>
    <input type="email" name="email" required><br><br>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Create Account</button>
</form>
</div>